/* The universal selector */
/* * {
	border-top: 10px solid #1098ad;
} */

/* The color property is inherited to all of the elements
inside of the body, but it is overwritten for the elements
in the body that also have a "color" property defined. */
body {
	font-family: sans-serif;
	color: #444;
	/* This does not get inherited */
	border-top: 10px solid #1098ad;
}

/* h1,
h2,
h3,
h4,
p,
li {
	font-family: sans-serif;
	color: #444;
} */

h1,
h2,
h3 {
	color: #1098ad;
}

h1 {
	text-transform: uppercase;
	font-style: italic;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}

p {
	font-size: 22px;
	line-height: 1.5;
}

li {
	font-size: 20px;
}

/* footer p {
	font-size: 16px;
} */

/* article header p {
	font-style: italic;
} */

#author {
	font-style: italic;
	font-size: 18px;
}

#copyright {
	font-size: 16px;
}

.related-author {
	font-size: 18px;
	font-weight: bold;
}

.related {
	list-style: none;
}

.main-header {
	background-color: #f7f7f7;
}

aside {
	background-color: #f7f7f7;
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
}

li:first-child {
	font-weight: bold;
}

li:last-child {
	font-style: italic;
}

/* li:nth-child(2) {
	color: red;
} */

/* Styling links */
/* For links that have not been visited yet */
a:link {
	color: #1098ad;
	text-decoration: none;
}

/* For links that have already been visited */
a:visited {
	color: #1098ad;
}

/* For when we hover our mouse on the link */
a:hover {
	color: orangered;
	font-weight: bold;
	text-decoration: underline wavy orangered;
}

/* For when we click the link */
a:active {
	background-color: black;
	font-style: italic;
}

/* Resolving Conflicts */
/* #copyright {
	color: red;
} */

/* Using the important keyword to override the hierarchy */
/* .copyright {
	color: blue !important;
} */

/* .text {
	color: yellow;
} */

/* footer p {
	color: green;
} */
